* {
    font-family: 'Courier Prime', monospace;
    background-color: rgb(172, 194, 255);
}

img {
    object-fit: cover;
    width: 100%;
}

div.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 20px 20px 20px;
}

.weather-container {
    grid-column: 1;
    margin-top: 20px;
    border: 5px solid white;
}

div.search-results {
    margin-left: 50px;
}

.coin-container {
    margin-left: 20px;
    grid-column: 2;
    grid-row: 1 / span 2;
    border: 5px solid white;
}

.to-do-container {
    grid-column: 3;
    grid-row: 1 / span 2;
    border: 5px solid white;
    margin-left: 20px;
}

.red {
    color: red
}

.green {
    color: rgb(0, 182, 0)
}

button {
    color: white;
    background-color: rgb(6, 97, 170);
    border: 2px solid white;
}

input {
    background-color: white;
    border: 1px solid black;
}