* {
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    width: 100%;
}

label {
    color: white;
}

p {
    color: white;
}

ul {
    color: white;
}

li {
    color: white;
}

.cardano img {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
}


div.App {
    background-color: rgb(172, 194, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px 20px 20px;
}

.weather-form {
    margin-left: 10px;
}

.weather-container {
    grid-column: 1;
    margin-bottom: 10px;
    border: 5px solid white;
    background-color: rgb(6, 97, 170);
    color: white;
}

.weather-container h1 {
    margin-left: 10px;
    background-color: rgb(6, 97, 170);
    color: white;
}

.weather-header {
    background-color: rgb(6, 97, 170);
}

.search-form {
    background-color: rgb(6, 97, 170);
}

.weather-form {
    background-color: rgb(6, 97, 170);
}

div.search-results {
    margin-left: 190px;
    background-color: rgb(6, 97, 170);
    color: white;
}


.coin-container {
    margin-left: 20px;
    grid-column: 2;
    grid-row: 1 / span 3;
    border: 5px solid white;
    background-color: rgb(6, 97, 170);
}

.coin-container h1 {
    margin-left: 10px;
    background-color: rgb(6, 97, 170);
}


.to-do-container {
    grid-column: 3;
    grid-row: 1 / span 3;
    border: 5px solid white;
    margin-left: 20px;
    background-color: rgb(6, 97, 170);
}

.to-do-container h1 {
    margin-left: 10px;
    
}

.news-button {
    grid-column: 1;
    margin: 10px 0 0 0;
    border: 5px solid white;
    text-align: center;
    text-decoration: underline;
    color: white;
    background-color: rgb(6, 97, 170);
}

.news-button h1 {
    background-color: rgb(6, 97, 170);
    color: white;
    font-size: 60px;
    margin: 20px 0 0 0;
}



.red {
    color: red
}

.green {
    color: rgb(0, 182, 0)
}

button {
    color: white;
    background-color: rgb(6, 97, 170);
    border: 2px solid white;
}

.to-do-button {
    background-color: inherit;
    border: none;
    margin-left: 20px;
}

.list-wrapper {
    margin-left: 100px;
}

input {
    background-color: white;
    border: 1px solid black;
}

.to-do-form {
    margin-left: 10px;
}


.news {
    grid-column: 1 / span 3;
}
.news-image {
    width: 25%;
    margin-right: 25px;
    border: 5px solid white;
}

.headline {
    grid-column: 1 / span 3;
}

.news-item {
    display: flex;
    border: 5px solid white;
    padding: 20px 20px 20px 20px;
    margin: 10px 0 10px 0;
    background-color: rgb(6, 97, 170);
}

.coinicon {
    max-width: 5%;
    display: inline-block;
    margin-right: 20px;
}

.coinmain {
    display: inline-block;
}

.coin-prices h4 {
    margin: 10px 0 10px 100px;
    background-color: rgb(6, 97, 170);
}

.news-link {
    grid-column: 2;
    border: 5px solid white;
    margin: 10px 10px 0 10px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(6, 97, 170);
    color: white;
    font-size: 60px;
}

.news-link h1 {
    background-color: rgb(6, 97, 170);
    color: white;
    font-size: 60px;
    margin: 20px 0 0 0;
}

.coin-results {
    margin-left: 100px;
    background-color: rgb(6, 97, 170);
}

h1, h2, h3, h4 {
    background-color: rgb(6, 97, 170);
    color: white;
}

.about-sign {
    grid-column: 2;
    margin: 5px auto 5px auto;
    width: 10%;
}

.news-button:hover {
    filter: drop-shadow(8px 8px 3px red);
}

.news-link:hover {
    filter: drop-shadow(8px 8px 3px red)
}