* {
    font-family: 'Courier Prime', monospace;
    background-color: rgb(172, 194, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    width: 100%;
}

h1 {
    margin-left: 10px;
}

div.App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 20px 20px 20px;
}

.weather-form {
    margin-left: 10px;
}

.weather-container {
    grid-column: 1;
    margin-top: 20px;
    border: 5px solid white;
}

div.search-results {
    margin-left: 50px;
}

.coin-container {
    margin-left: 20px;
    grid-column: 2;
    grid-row: 1 / span 3;
    border: 5px solid white;
}

.coin-results {
    margin-left: 50px;;
}

.to-do-container {
    grid-column: 3;
    grid-row: 1 / span 3;
    border: 5px solid white;
    margin-left: 20px;
}

.news-button {
    grid-column: 1;
    margin: 10px 0 10px 0;
    border: 5px solid white;
    text-align: center;
    text-decoration: none;
}

.red {
    color: red
}

.green {
    color: rgb(0, 182, 0)
}

button {
    color: white;
    background-color: rgb(6, 97, 170);
    border: 2px solid white;
}

input {
    background-color: white;
    border: 1px solid black;
}


.news {
    grid-column: 1 / span 3;
}
.news-image {
    width: 25%;
    margin-right: 25px;
}

.headline {
    grid-column: 1 / span 3;
}

.news-item {
    display: flex;
    border: 5px solid white;
    padding: 10px 10px 10px 10px;
    margin: 10px 0 10px 0;
}

.coinicon {
    max-width: 5%;
    display: inline-block;
    margin-right: 10px;
}

.coinmain {
    display: inline-block;
}

.coin-prices h4 {
    margin: 10px 0 10px 60px
}

.news-link {
    grid-column: 2;
    border: 5px solid white;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
}